#include "${source_include}"

#include "rpc-common.hpp"
#include "rpc-pack.hpp"

% for function in functions:
${function['rtnType']}
  ${function['name']}(
  ${', '.join(param['type'] + ' ' + param['name']
              for param in function['parameters'])}) {
  send_rpc_message(rpc_socket,
               static_cast<int>(rpc_call_name::${function['name']}),
               ${', '.join(param['name'] for param in function['parameters'])});
  % if function['rtnType'] != 'void':
  return get_reply<${function['rtnType']}>(rpc_socket);
  % endif
}

% endfor